body{
    background-color: blue;
    display: flex;
    justify-content: center;
    
}
header{
    background-color: #FF7F99;
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between; /* Centra verticalmente los elementos del header */
}
.textoderecha h3{
    margin-right: 50px;
}
.you{
    color: #FFF065;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -620px; 
    margin-top: 32px;

    }
    a.sin-subrayado {
        text-decoration: none;
      }
      



.wehelp{
    color: #FFFCFC;
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin-left: 52px;
    line-height: normal;
    
    }

    nav{
        display: flex;
        align-items: center;
    }

    .cuerpo{
        background-color: white;
        height: 500px;
        display: flex;
    }

    .figura{
        background-color: #FF7F99;
        height: 400px;
        width: 420px;
        border-radius: 50% 0 50% 50%;
        justify-content: center;
        margin-top: 30px;
        margin-left: 150px;
        position: relative; 
    }

    #chicofoto{
        height: 370px;
        width: 370px;
        margin-left: 25px;
        margin-top: 10px;
    }

.textoderecha{
    display: block;
    justify-content: right;
    margin-left: 300px;
}
    
.textoderecha h1{
        color: #FF7F99;
        
        font-family: 'Jost', sans-serif;
        font-size: 62px;
        font-style: italic;
        font-weight: 500;
        line-height: 70px; /* 109.375% */
        margin-top: 70px;
        
        }
.textoderecha h3{
            color: #000;
         font-family: 'Jost', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 70px; 
        margin-top: -50px;
        
        }
    
.frase{
            letter-spacing: 1px;
        }
    .texto{
        margin-right: -400px;
    }
       


    nav button {
        margin-right: 10px;
        font-size: 18px;
        padding: 15px 30px;
        background-color: none;
        color: #FFF;
        text-align: center;
        font-family: 'Jost', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 200px;
        line-height: normal;
        border: none;
        transition: 0.3s, color 0.3s;
        background-color: transparent;
        margin: 30px;
        opacity: 0.8;
        border-radius: 50%;
        
    }

    nav button:hover {
        background-color: rgba(255, 202, 65, 0.70);
        color: #000 !important;
        opacity: 0.8;
    }

    footer{
        background-color: white;
        display: flex;
        justify-content: center;
    
    }
    footer h5{
        margin-left: 70px;
        color: #FFFCFC;
        font-family: 'Jost', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 15px;
        }

        footer h6{
            margin-left: 50px;
            margin-top: -15px;
            color: #000;
            font-family: 'Jost', sans-serif;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
            }
            .contenedorfooter{
                background-color:#FF7F99 ;
                height: 390px;
                width: 1390px;
                margin-bottom: 2%;
                border-radius: 1%;
                display: flex;
                justify-content: space-around;
            }
            .contenedorfooter div{
                margin-top: 25px;
            }
            #in{
                margin-left: 95px;
                margin-top: -15px;
                height: 36px;
            width: 39px;
            }


          

.enlace-somos,
.enlace-contacta {
    cursor: pointer;
}














    

    /* menu desplegable */
      
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropbtn {
        
        color: white;
        border: none;
        cursor: pointer;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-size: 20px;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        background-color: #FF7F99;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #ffca41;
      }


      #pedro:hover{
  
        filter: grayscale(100%); /* Cambia la imagen a escala de grises al pasar el cursor */
    
}
#andres:hover{
  
    filter: grayscale(100%);

}
#maria:hover{
  
    filter: grayscale(100%);

}
#melquiades:hover{
  
    filter: grayscale(100%);

}
/* fin transiciones */


@media screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas */
}

@media screen and (min-width: 1025px) {
    /* Estilos para pantallas grandes */
}